@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
  font-family: 'Work Sans', sans-serif;
}

*,*::after,*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.navStyling{
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #0000003f;
}

.navWraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 50px;
}

.myLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.myLogo img{
  width: 40px;
}

.items{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items li{
  margin: 0.2rem 0.8rem;
  font-weight: 500;
}

.items li a{
  color: #202020;
  text-decoration: none;
}

.items li a:visited{
  color: #202020;
  text-decoration: none;
}

.cartBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 56px;
  background-color: rgb(255, 234, 202);
  border-radius: 15px;
  box-shadow: 0px 1px 2px #0000004d;
}

.cartBtn img{
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.cartBtn span{
  font-size: 18px;
}


