@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
  font-family: 'Work Sans', sans-serif;
}

*,*::after,*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.navStyling{
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #0000003f;
}

.navWraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 50px;
}

.myLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.myLogo img{
  width: 40px;
}

.items{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items li{
  margin: 0.2rem 0.8rem;
  font-weight: 500;
}

.items li a{
  color: #202020;
  text-decoration: none;
}

.items li a:visited{
  color: #202020;
  text-decoration: none;
}

.cartBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 56px;
  background-color: rgb(255, 234, 202);
  border-radius: 15px;
  box-shadow: 0px 1px 2px #0000004d;
}

.cartBtn img{
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.cartBtn span{
  font-size: 18px;
}


/* #################### Home styling ######################## */

.heroWraper{
  padding-top: 16em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroWraper .order-btn{
  height: 40px;
  width: 130px;
  background-color: rgb(235, 94, 43);
  border-radius: 20px;
  border-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
  cursor: pointer;
}

.heroWraper .order-btn:active{
  transform: scale(0.96);
}

.heroImage-wraper img{
  border-radius: 24px;
}

.home-product-section{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* ################# Product items styling ###################### */

.p-heading{
  margin-bottom: 1rem;
}

.products-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.p-item{
  height: 290px;
  width: 240px;
  overflow: hidden;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 4px #0000005b;
}

.p-item img{
  height: 180px;
}

.item-info{
  padding: 0.4em;
  text-align: center;
}

.size-wraper{
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-size{
  display: block;
  height: 20px;
  padding: 2px 6px;
  background-color: rgb(224, 224, 224);
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.item-cta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4px;
  margin-top: 10px;
}

.item-price{
  font-weight: 600;
  font-size: 20px;
}

.item-add-btn{
  background-color: rgb(235, 94, 43);
  color: #ffffff;
  display: block;
  height: 30px;
  padding: 4px 12px;
  font-weight: 600;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-add-btn:active{
  transform: scale(0.96);
  background-color: rgb(245, 111, 62)
}



